<main>
  <div class="position-relative">
    <section class="section section-lg section-shaped pb-200 bg-gradient-default">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row text-center justify-content-center">
            <div class="col-lg-12">
              <h1 class="display-3 text-white">About Us</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <section class="section section-lg-0 pt-lg-0 mt--200">
    <div class="post-img">
      <img src="../../assets/img/It_Might_Be_Interesting_Beige.jpg" />
    </div>
    <div class="container">
      <div class="row justify-content-center post-content">
      </div>
      <div class="row justify-content-center post-content">
        <div class="col-lg-12">
          <p>"It Might Be Interesting" is the brain-child of host Jon Walsh. Jon and co-host Josh Levy have always had a passion for their frequent political and cultural discussions since 2008. They both share a lack of patience for any political or cultural arguments or claims that were baseless in fact, or just lazy, low-hanging fruit arguments.</p>
          <p>Jon and Josh felt like the current landscape with media - especially Social Media - has only contributed to the regression of discourse we see today. Current discourse has strayed far from deep discussions and thoughtful debate we once had. Now, people make an effort more based on landing the biggest talking-point punch, rather than making a genuine effort to understand issues on a deeper level, independently dive even deeper into research, and more importantly, not being afraid to be wrong about something.</p>
          <p>After seeing the deterioration of discourse for too long, they said, "Enough is enough." And "It Might Be Interesting" was born.</p>
          <hr>
          <h4>Jon Walsh</h4>
          <p>What separates Jon from most people in today's day and age, is his genuinely inquisitive nature. As Josh has said, "When Jon hears an argument or point made, you can immediately see it on his face. If it's an argument he even agrees with in a moral sense, he instinctively has the desire to research it. And even if it's a highly salacious argument that many would find quite offensive, he still just instinctively wants to research the basis of it. He's always been about facts and knowledge above everything else. Even if you disagree with him, he's always respectful and open for a really good debate. But just be warned, he'll out-fact you every single time." And like Josh, Jon has an unmatched hunger for details. No plan is detailed enough, no matter how good the idea sounds. It's only good enough once he's turned over every factual stone there is.</p>
          <hr>
          <h4>Josh Levy</h4>
          <p>What separates Josh from most people is how much he actually dislikes hearing only points-of-view he agrees with, especially if the comment is just a talking point, no matter how much he agrees with the issue being discussed. As Jon said, "Josh has this analogy he often uses. He believes listening to and engaging with people you agree with is like junk food. And listening to and respectfully, and deeply engaging with people you disagree with is like healthy food. Of course, the junk food tastes and feels better in the moment. But just like the effects of only eating ice cream on the couch, only watching news you agree with and conversing with people you agree with will only start to rot your intellectual fortitude. You'll be intellectually and emotionally vulnerable, incapable of coping with or handling any viewpoint other than your own. The more you consume of one, the more you crave it. And nobody hates "junk food politics" as much as Josh does."</p>
        </div>
      </div>
    </div>
  </section>
</main>