<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-2">
              <div class="text-muted text-center mb-1">
                <h3>Add Post Info</h3>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <form role="form">
                <div class="form-group mb-3" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="Title" type="text" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus2===true}">
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="Slug" type="text" (focus)="focus2=true" (blur)="focus2=false">
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus3===true}">
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="Website URL" type="url" (focus)="focus3=true" (blur)="focus3=false">
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus4===true}">
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="Download URL" type="url" (focus)="focus4=true" (blur)="focus4=false">
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus5===true}">
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="Embed URL" type="url" (focus)="focus5=true" (blur)="focus5=false">
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus6===true}">
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="iTunes URL" type="url" (focus)="focus6=true" (blur)="focus6=false">
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus7===true}">
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="YouTube URL" type="url" (focus)="focus7=true" (blur)="focus7=false">
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus8===true}">
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="Spotify URL" type="url" (focus)="focus8=true" (blur)="focus8=false">
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary my-4">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
