.progress {
  width: 1000px;
}

.bootstrap-bar {
  display: flex;
  justify-content: center;
  height: 100%;
}

.bootstrap-bar p {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
}

.post-inner {
  margin-top: 75px;
}

.post-date {
  color: #ffffff;
}

.py-lg-md {
  padding-bottom: 2rem !important;
}

.badge-pill {
  margin-right: 0px !important;
}

.post-content {
  margin-top: 40px !important;
}

.tags-title {
  font-weight: 700;
  margin-bottom: 0px;
}