.progress {
  width: 1000px;
}

.bootstrap-bar {
  display: flex;
  justify-content: center;
  height: 100%;
}

.bootstrap-bar p {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
}

.post-inner {
  margin-top: 25px;
}

.post-date {
  color: #ffffff;
}

.py-lg-md {
  padding-bottom: 2rem !important;
}

.badge-pill {
  margin-right: 0px !important;
}

.post-content {
  margin-top: 40px !important;
}

.tags-title {
  font-weight: 700;
  margin-bottom: 0px;
}

ul.post-social-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0px;
  justify-content: space-around;
}

ul.post-social-links li a i {
  font-size: 42px;
}

.mat-form-field {
  width: 100%;
}

.mat-input-element {
  color: #000000;
}

.tag-section ul li {
  margin-left: 4px;
  margin-right: 4px;
}

@media only screen and (max-width: 400px) {
  .bootstrap-bar {
    width: 100vw !important;
  }

  .post-title {
    margin-top: 70px;
    margin-bottom: -30px;
  }

  .post-img img {
    width: 100vw !important;
  }

  .social-post-links {
    text-align: center;
  }

  .blog-card {
    display: block;
  }

  .blog-image-block {
    margin-bottom: 20px;
  }
}
