<main>
  <div class="position-relative">
    <section class="section section-lg section-shaped pb-200 bg-gradient-default">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row text-center justify-content-center">
            <div *ngIf="!loading" class="col-lg-12">
              <h1 class="display-3 text-white">{{ post.data?.title }}</h1>
            </div>
            <div *ngIf="!loading" class="col-lg-12 text-center">
              <h4 class="post-date">{{ post.data?.published | date }}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <section class="section section-lg-0 pt-lg-0 mt--200">
    <div class="post-img">
      <img *ngIf="!loading" src="{{ post.data?.featured_image }}" />
    </div>
    <div class="container">
      <div class="row justify-content-center post-content">
        <div class="col-lg-12 blog-loader">
          <div>
            <p *ngIf="step1"><ngb-progressbar type="danger" [value]="25" [striped]="true" [animated]="true" height="35px"><i class="bootstrap-bar"><p>Initializing...</p></i></ngb-progressbar></p>
            <p *ngIf="step2"><ngb-progressbar type="warning" [value]="50" [striped]="true" [animated]="true" height="35px"><i class="bootstrap-bar"><p>Gathering Data...</p></i></ngb-progressbar></p>
            <p *ngIf="step3"><ngb-progressbar type="info" [value]="75" [striped]="true" [animated]="true" height="35px"><i class="bootstrap-bar"><p>Rendering...</p></i></ngb-progressbar></p>
            <p *ngIf="step4"><ngb-progressbar type="success" [value]="100" [striped]="true" [animated]="true" height="35px"><i class="bootstrap-bar"><p>Success!</p></i></ngb-progressbar></p>
          </div>
        </div>
        <h5 *ngIf="!loading" class="text-center tags-title">Tags:</h5>
        <div *ngIf="!loading" class="col-lg-12 text-center tag-section post-tag-section">
          <ul class="tag-list post-tag-list">
            <li *ngFor="let tag of post.data?.tags">
              <span class="badge badge-pill badge-default card-click" (click)="selectTag(tag)">{{ tag.name }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center post-content">
        <iframe *ngIf="!loading && episode.embed_url" width="100%" height="135" style="border: none;" title="Ep.01: The State of Religion in America" [src]="iframeUrl" scrolling="no" data-name="pb-iframe-player"></iframe>
        <div *ngIf="!loading" class="social-post-links">
          <h5>Listen to this episode on:</h5>
          <ul class="post-social-links">
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="{{episode?.itunes_url}}" target="_blank" data-toggle="tooltip" title="Subscribe on iTunes">
                <i class="fab fa-itunes"></i>
                <span class="nav-link-inner--text d-lg-none">iTunes</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="{{episode?.youtube_url}}" target="_blank" data-toggle="tooltip" title="Listen on YouTube">
                <i class="fab fa-youtube-square"></i>
                <span class="nav-link-inner--text d-lg-none">YouTube</span>
              </a>
            </li>
            <li>
              <a class="nav-link nav-link-icon" href="{{episode?.spotify_url}}" target="_blank" data-toggle="tooltip" title="Subscribe on Spotify">
                <i class="fab fa-spotify"></i>
                <span class="nav-link-inner--text d-lg-none">Spotify</span>
              </a>
            </li>
          </ul>
        </div>
        <div *ngIf="!loading" class="col-lg-12 post-inner" [innerHTML]="post.data?.body"></div>
      </div>
    </div>
  </section>
</main>
  