<main>
  <div class="position-relative">
    <section class="section section-lg section-shaped pb-200 bg-gradient-default">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div *ngIf="post && !loading" class="row text-center justify-content-center post-title">
            <div class="col-lg-12">
              <h1 class="display-3 text-white">{{ post.data?.title }}</h1>
            </div>
            <div *ngIf="!episodeFound" class="col-lg-12 text-center">
              <h4 class="post-date">&nbsp;</h4>
            </div>
            <div *ngIf="episodeFound" class="col-lg-12 text-center">
              <h4 class="post-date">{{ episode?.added | date }}</h4>
            </div>
          </div>
          <div *ngIf="loading" class="row text-center justify-content-center post-title">
            <div class="col-lg-12">
              <h1 class="display-3 text-white">Loading...</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <section class="section section-lg-0 pt-lg-0 mt--200 col-lg-12">
    <div class="post-img col-lg-12">
      <img *ngIf="post && !loading" src="{{ post.data?.featured_image }}" />
    </div>
    <div class="container">
      <div *ngIf="loading" class="spinner-container">
        <p-progressSpinner [style]="{width: '150px', height: '150px'}" strokeWidth="4"></p-progressSpinner>
      </div>
      <div class="row justify-content-center post-content">
        <p *ngIf="alert">
          <ngb-alert [dismissible]="false" type="danger">
            <strong>Unable to load content. Please refresh the page to try again.</strong>
          </ngb-alert>
        </p>
        <div *ngIf="!loading && post.data?.tags" class="col-lg-12 text-center tag-section post-tag-section">
          <h5 *ngIf="!loading && post.data?.tags" class="text-center tags-title">Tags:</h5>
          <ul class="tag-list post-tag-list">
            <li *ngFor="let tag of post.data?.tags">
              <span class="badge badge-pill badge-default card-click" (click)="selectTag(tag)">{{ tag.name }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center post-content">
        <iframe *ngIf="!loading && options" width="95%" height="135" style="border: none;" title="Ep.01: The State of Religion in America" [src]="iframeUrl" scrolling="no" data-name="pb-iframe-player"></iframe>
        <div *ngIf="!loading && options" class="social-post-links">
          <h5>Listen to this episode on:</h5>
          <ul class="post-social-links">
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="{{episode?.itunes_url}}" target="_blank" data-toggle="tooltip" title="Subscribe on iTunes">
                <i class="fab fa-itunes"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="{{episode?.youtube_url}}" target="_blank" data-toggle="tooltip" title="Listen on YouTube">
                <i class="fab fa-youtube-square"></i>
              </a>
            </li>
            <li>
              <a class="nav-link nav-link-icon" href="{{episode?.spotify_url}}" target="_blank" data-toggle="tooltip" title="Subscribe on Spotify">
                <i class="fab fa-spotify"></i>
              </a>
            </li>
          </ul>
        </div>
        <div *ngIf="!loading && post" class="col-lg-12 post-inner" [innerHTML]="post.data?.body"></div>
      </div>
    </div>
  </section>
</main>
  