<main>
  <div class="position-relative">
    <section class="section section-lg section-shaped pb-200 bg-gradient-default">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row text-center justify-content-center">
            <div class="col-lg-12">
              <h1 class="display-3 text-white">{{ post.data?.title }}</h1>
              <!-- <h4 class="text-white">By {{ post.data?.author.first_name }} {{ post.data?.author.last_name }}</h4> -->
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <section class="section section-lg-0 pt-lg-0 mt--200">
    <div class="post-img">
      <img src="{{ post.data?.featured_image }}" />
    </div>
    <div class="container">
      <div class="row justify-content-center post-content">
        <div class="col-lg-12" [innerHTML]="post.data?.body"></div>
      </div>
    </div>
  </section>
</main>
  