.blog-list ul {
  list-style-type: none;
  padding-left: 0px;
}

.blog-list ul li {
  margin-bottom: 40px;
}

.blog-list-image {
  width: 100%;
}

.blog-list-image img {
  width: 100%;
}

.blog-card {
  display: flex;
}

.blog-title {
  font-weight: 600;
}

.blog-image-block {
  display: flex;
}

.blog-list-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-section {
  display: flex;
  ul {
    display: inherit;
    li {
      margin-bottom: 0px;
      span {
        background-color: rgba(52, 98, 175, 0.8);
        color: #FFFFFF;
      }
    }
  }
}

.blog-description {
  font-size: 1.15rem;
}

.post-img {
  display: flex;
  justify-content: center;
}

.post-content {
  margin-top: 60px;
}

.post-content p {
  font-size: 1.2rem;
  font-weight: 500;
}

.post-content ol li {
  font-size: 1.2rem !important;
  font-weight: 500 !important;
}

.post-content ul li {
  font-size: 1.2rem !important;
  font-weight: 500 !important;
}

.post-content p img {
  width: 100% !important;
}

pre.code-toolbar > .toolbar {
  margin-top: 8px;
  margin-right: 5px;
}

pre.code-toolbar > .toolbar a {
  padding-top: 0.45rem;
  padding-bottom: 0.4rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  font-size: 0.9rem;
  color: #FFFFFF;
}

.sponsor {
  display: flex;
  justify-content: flex-end;
}

.sponsor p {
  margin-bottom: 0px;
  color: #000000;
}

.sponsor img {
  height: 60px;
}
