.progress {
  width: 1000px;
}

.bootstrap-bar {
  display: flex;
  justify-content: center;
  height: 100%;
}

.bootstrap-bar p {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
}

.alert-danger {
  background-color: darkred;
  font-size: 1.15rem;
  text-align: center;
  padding: 25px !important;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@keyframes ui-progress-spinner-color {
  100%,
  0% {
    stroke: #ffffff;
  }
  40% {
    stroke: #ffffff;
  }
  66% {
    stroke: #ffffff;
  }
  80%,
  90% {
    stroke: #ffffff;
  }
}
